    body {
		background-image: url(images/body.jpg);
		background-size: cover;
    	font-family: Tahoma, Geneva, sans-serif;
    	font-size: 10pt;
    	color: #333;
    }
    
    #container {
		background-color: #E1E1E1;
		border: 1px solid #666;
		width: 80%;
		min-width: 850px;
		margin: 0px auto;      
    }

/* --- HEADER --------------------------------------------*/    
    #header {
		background-image: url(images/logo3.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 150px;
		background-color: #E1E1E1;
		margin: 0;
		padding: 0;     
		position: relative;
    }


/* --- SIDEBAR -------------------------------------------*/    
    #leftsidebar {
		width: 180px;
		float: left;
		min-height: 300px;
		padding: 10px;
		margin: 0;
    }
    
    ul.menu {
		list-style-type: none;
		padding:0;
		margin:0;
    }
    
    #leftsidebar ul li {
		background-image: url(images/button_1.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-color: #E1E1E1;
		border: solid thin #999;
		height: 20px;
		margin: 5px 0 0 0;
		padding: 5px;
		text-align: center;
		font-size: 15px;
    }
    
    #leftsidebar ul li a {
		text-decoration: none;
		color:#fff
    }

    #leftsidebar ul li a:hover {
        font-weight: 600;
		color: #660000;
    }
	
	#leftsidebar ul li a:visited {
		color: #192d19; 
    }

    #rightsidebar {
		width: 180px;
		float: right;
		min-height: 300px;
		padding: 10px;
		margin: 0;
    }
	
	p.par{
		font-family:helvetica;
		font-style:Italic;
	}
	
/* --- MAIN ----------------------------------------------*/
   
    #main {
		padding: 1.2em 2em;     
		margin: 0 0 0 200px;
		border-left: solid 1px #aaa; 	
		line-height: 130%;
		min-height: 300px;
    }
	
	/* --- links ----------------------------------------------*/
	#main  a {
		text-decoration: none;
		color:#000081
    }

    #main a:hover {
        font-weight: 600;
    }
	
	#main a:visited {
		color: #cf0053; 
    }
	
	#main h2{
		line-height: 1.1em;
		margin-top:0;
	 }
 
	/* --- table ----------------------------------------------*/
	table.bwtable {
		border-top: solid 1px #000;
		border-bottom: solid 1px #000;
		border-left: solid 1px #000;
		border-right: solid 1px #000;
		width: 100%;
	}
    
	table th.cells  {
		border-top: solid 1px #000;
		border-bottom: solid 1px #000;
		border-left: solid 1px #000;
		border-right: solid 1px #000;
		padding: 2px 20px;	

	}
	
	table th ul li.left {
		text-align:left;
	}
	/* --- image ----------------------------------------------*/
	img.imageright{
		float:right;
		padding: 0 1.3em 1.3em 1.3em;
    }
	
	img.imageleft{
		float:left;
		padding: 0.4em 1.3em 10px 0;
    }  
	
/* --- FOOTER --------------------------------------------*/    
    #footer {
		clear: both;
		background-color: #E1E1E1;
		border-top: solid 1px #aaa; 
		text-align:center;
		height: 20px;
		padding: 10px;
		margin: 0;
    }
    
    #leftfooter {
		float:left;    
    }

    #rightfooter {
		float:right;
    }
	